.btn-color {
  background-color: antiquewhite;
}

.navbar-items {
  text-decoration: none;
}

.ceo-homepage {
  background-image: url("./aspects/boss.jpeg");
  background-size:cover ;
  background-position: center;
  min-height: 94vh;
  
}
.text-color{
  color: darkorchid;
}